node_modules
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
ios/Pods
ios/build
android/.gradle
android/build
android/app/build
.DS_Store
*.log
.git
.gitignore
README.md
.vscode
.idea
coverage
*.swp
*.swo
*~
Dockerfile*
docker-compose*
.dockerignore
.expo
.expo-shared
__tests__
.jest
*.jks
*.keystore